<!DOCTYPE html>
<!-- 
Project Name: CST-323 Milestone Project
Version: 1.0
Module name: Index Page
Module version: 1.0
Authors: Gabriel Cepleanu
Synopsis: This module provides the root directory page.
 -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/basicTemplate">
<head>
</head>
	<div layout:fragment="content">
		<h1>User Management Application</h1>
		<p>This application allows for the management of users.</p>
	</div>
</html>